.box {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    background: #fff;
    border: 0;
    margin-bottom: 16px;
}
.boxform {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    background: #fff;
    border: 0;
    margin-bottom: 16px;
    padding-top: 16px;
}
.paragraf{
  padding: 20px;
  color: #888;
}
.targethitam{
  padding-left: 20px;
  padding-top: 20px;
}
.pro{
  padding-left: 20px;
  padding-right: 20px;
}
.infobawah {
  padding-left: 20px;
  padding-right: 20px;
  color: #888;
  font-size: 14px;
}
.infobawahsamping{
  padding-left: 20px;
  padding-right: 20px;
  color: #2470e2;
}

.paragrafartikel{
  padding: 20px;
  color: #888;
  line-height: 30px;
  font-family: Lato,sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.imageprofilkomunitas {
  width: 100%;
  padding: 5px;
}
.containerimageprofil{
  width:100%;
  height:500px;
  overflow:hidden;
}

.tulisannamakomunitas {
    color: #282828;
    padding: 20px;
}
.buttonfull{
  width: 100%;
}
